:root {
    --transition: all 0.6s ease;
    --black:#000; 
    --white:#fff;
    --lightgrey: #f9f9f9;
    --midgrey:  #dbdbdb;
    --blue:#87ceeb;
    --green: rgb(72,225,12);
    --dkGrey: #333;
  }

  /*universalSelector*/
  body {
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: cover;
  }
  
  html {
    scroll-behavior: smooth;
  }

  
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px var(--midgrey);
    border-radius: 15px;
    background-color: var(--blue);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 15px;
    box-shadow: inset 0 0 3px var(--midgrey);
  }

/*Header*/
  header, .container {
    text-align: center;
    margin: .2% 10% auto 10%;
    background-color: var(--lightgrey);
    background-size: cover;
    padding: 1%;
    border-radius: 20px 5px 3px 5px;
    height: 200px;
    opacity: 90%;
    box-shadow: 5px;   
}

  header h1 {
    margin-top: 2%;
    font-size: 40px;
    color: var(--dkGrey);
  }

  /*body*/
  #subHead {
      font-size: 25px;
      margin: .5% auto 3% auto;
  }

  #viewButton, #bookButton {
    display: inline;
    border-radius: 5px 20px 5px 8px;
    border: 1px solid var(--blue);
    margin: 5% auto auto 2%;
    padding: 1%;
    background-color: var(--dkGrey);
    color: var(--white);
  }

  #viewButton:hover, #bookButton:hover {
    transform: rotate(-1deg);
    cursor: pointer;
    border: 1px outset var(--green);
  }

  #viewButton:active, #bookButton:active {
    transform: rotate(-1deg);
    cursor: pointer;
    border: 1px inset var(--blue);
  } 


  @media (max-width: 1500px) {#viewButton, #bookButton {
    display: block !important;
    position: relative !important;
  }
}

@media (max-width: 1500px) {.container {
    height: fit-content;
}